.cropme-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.cropme-container img {
    cursor: move;
    opacity: 0;
    touch-action: none;
}

#img {
    border: 5px solid #f00
}
.boundary {
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
    z-index: 0;
    pointer-events: none;
}

.boundary.circle {
    border-radius: 50%
}

.cropme-slider {
    text-align: center;
}

.cropme-slider input {
    -webkit-appearance: none;
}

.cropme-slider input::-webkit-slider-runnable-track {
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.cropme-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}


.cropme-slider input:focus {
    outline: none;
}
